{% assign algolia_arr = "/search,/404" | split:"," %}
{% unless algolia_arr contains page.url %}
  <div id="search-results">
    <div id="search-results-close">
      <button type="reset" class="search-results-close-btn">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="100%" height="100%">
          <path d="M8.114 10L.944 2.83 0 1.885 1.886 0l.943.943L10 8.113l7.17-7.17.944-.943L20 1.886l-.943.943-7.17 7.17 7.17 7.17.943.944L18.114 20l-.943-.943-7.17-7.17-7.17 7.17-.944.943L0 18.114l.943-.943L8.113 10z" fill-rule="evenodd">
          </path>
        </svg>
      </button>
    </div>
    <div id="search-hits"></div>
  </div>
{% endunless %}

<script>
const search = instantsearch({
  appId: '{{site.algolia.application_id}}',
  indexName: `{% t algolia.index_name %}`,
  apiKey: '{{site.algolia.search_only_api_key}}'
});

const hitTemplate = function(hit) {
  let date = '';
  if (hit.date) {
    if (['ko', 'ja'].includes('{{site.lang}}')) {
      date = moment.unix(hit.date).format('YYYY{% t global.year %} MM{% t global.month %} D{% t global.day %}');
    } else {
      date = moment.unix(hit.date).format('D MMM YYYY');
    }
  }

  const url = `{{site.baseurl}}` + hit.url;
  const title = hit._highlightResult.title.value;
  let content;
  if (hit._snippetResult.content.value) {
    content = hit._snippetResult.content.value;
  } else {
    content = '';
  }

  return `
    <div class="post-item">
      <span class="post-meta">${date}</span>
      <h2><a class="post-link" href="${url}">${title}</a></h2>
      <div class="post-snippet"><p>${content}</p></div>
    </div>
  `;
}

const emptyTemplate = `
  <div class="post-item no-results">
    <h5>{% t algolia.no_results %}</h5>
  </div>
`

search.addWidget(
  instantsearch.widgets.searchBox({
    container: '#search-searchbar',
    placeholder: '{% t algolia.search_placeholder %}',
    poweredBy: true
  })
);
search.addWidget(
  instantsearch.widgets.hits({
    container: '#search-hits',
    templates: {
      item: function(hit) {
        return hitTemplate(hit)
      },
      empty: function(hit) {
        return emptyTemplate
      }
    }
  })
);

search.start();

$(function() {
  $('.ais-search-box--input').blur();
  $('.ais-search-box--input').keyup(function() {
    if ($.trim($(this).val()) !== '') {
      $('#search-results').show();
    } else {
      $('#search-results').hide();
    }
  });
});

$(function() {
  $('.ais-search-box .ais-search-box--reset-wrapper .ais-search-box--reset').click(function() {
    $('#search-results').hide();
  });
});

$(function() {
  $('#search-results-close .search-results-close-btn').click(function() {
    $('#search-results').hide();
  });
});
</script>
