.h1-404 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;

  @media (min-width: 992px) {
    text-align: center;
  }

  @media (max-width: 992px) {
    text-align: left;
  }
}
.h2-404 {
  color: rgba(0,0,0,.35);

  @media (min-width: 992px) {
    text-align: center;
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    text-align: left;
    margin-top: 1rem;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}
