<!DOCTYPE html>
<html lang="{{site.active_lang}}">
  <head>
    {% include head.html %}
  </head>
  {% capture layout %}{% if page.layout %}layout-{{page.layout}}{% endif %}{% endcapture %}
  {% assign default_arr = "/search,/404,/thanks,/about" | split:"," %}
  <body class="{{layout}}">
    <!-- Begin Menu Navigation
    ================================================== -->
    {% include navigation.html %}
        
    <div class="site-content {% if default_arr contains page.url %}page-404-content{% endif %}">
      <div class="container">

        <!-- Site Title
        ================================================== -->
        {% unless default_arr contains page.url %}
          {% include site_title.html %}
        {% endunless %}

        <!-- Content
        ================================================== -->
        <div class="main-content">
          {{content}}
        </div>

        
        <!-- Bottom Alert Bar
        ================================================== -->
        {% include bottom_alert_bar.html %}
        
          
      </div>

      <!-- Begin Footer
      ================================================== -->
      {% include footer.html %}
    </div>

    {% unless default_arr contains page.url %}
      {% include algolia.html %}
    {% endunless %}

    <!-- Scripts
    ================================================== -->
    {% include foot_scripts.html %}
  </body>
</html>
